@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");

:root {
  --primary: #4d91fe;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.u-flex {
  display: flex;
}

.u-textCenter {
  text-align: center;
}

.navContainer {
  padding: var(--s) var(--m);

  background-color: var(--primary);
}

.navTitle {
  color: var(--white);
  font-size: 20px;
  /* 下面的设定覆盖了 h1 的一些默认风格*/
  margin: 0; 
  font-weight: normal;
}

.appContainer {
  max-width: 960px;
  padding: var(--m) var(--m);
  margin: auto;
}

.avatarContainer {
  padding: 0 35%;
}

.avatar {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
 
  padding-top: 100%;

  
  border-radius: 50%;

  
  background-image: url("头像1.jpg");


  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  
  background-size: cover;


}

.name {

  font-size: 2.4em;
  font-weight: 300;

}

.line {
  
  border-color: var(--grey);

}

/* 对subContainer进行属性设置以使两栏文字占据相同宽度 */

.subContainer + .subContainer {
  
  margin-left: var(--m);

}

.subTitle {
  
  font-size: 1.5em;
  font-weight: 300;
  margin: var(--m) var(--s);
  
}
