.Navbar-container {
    padding: var(--s) var(--m);
    background-color: var(--primary);
}

.Navbar-title {
    color: var(--white);
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    flex-wrap: wrap-reverse;
}
