.avatarContainer {
    padding: 0 35%;
}

.avatar {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;

    padding-top: 100%;

    border-radius: 50%;

    background-image: url("../assets/头像1.jpg");

    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    background-size: cover;
}