body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.appContainer {
    max-width: 960px;
    padding: var(--m) var(--m);
    margin: auto;
}

.name {

    font-size: 2.4em;
    font-weight: 300;

}

.line {

    border-color: var(--grey);

}

.subContainer {

    flex-grow: 1;
    flex-basis: 0;

}

.subContainer+.subContainer {

    margin-left: var(--m);

}

.subTitle {

    font-size: 1.5em;
    font-weight: 300;
    margin: var(--m) var(--s);

}